*~
*.o
Makefile.in

INSTALL
nbproject
ChangeLog
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h.in
configure
include/Makefile.in
m4/
!m4/ax_check_link_flag.m4
!m4/ax_cxx_compile_stdcxx.m4
!m4/ax_with_curses.m4
po/stamp-po
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/*.gmo
po/stamp-po
/obj*
*.lo
*.Plo
*.la
*.lai
*.so*
*.Po
*.a
Makefile
config.h
stamp-h1
stamp-h2
libyacurscfg.h
config.log
config.status
libtool
po/POTFILES
.idea