*~
*.o
Makefile.in

ChangeLog
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h.in
configure
include/Makefile.in
m4/
!m4/ax_check_link_flag.m4
!m4/ax_cxx_header_stdcxx_98.m4
!m4/ax_with_curses.m4
!m4/nls.m4
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/*.gmo
/obj*
